body 
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #005580;
}

.feesandpolicies h1 
{
    color: #009688 !important;
    font-size: 36px;
    margin: 10px 0;
}

.feesandpolicies-container:after,
.feesandpolicies-container:before,
.feesandpolicies-row-padding:after,
.feesandpolicies-row-padding:before 
{
    content: "";
    display: table;
    clear: both
}

.feesandpolicies-content 
{
    margin-left: auto;
    margin-right: auto
}

.feesandpolicies-content 
{
    max-width: 980px
}

.feesandpolicies-row-padding 
{
    padding: 0 8px
}

.feesandpolicies-container 
{
    padding: 0.01em 16px
}

.feesandpolicies-card 
{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.feesandpolicies-margin-top 
{
    margin-top: 112px !important;
    margin-bottom: 24px;
}

.feesandpolicies-padding-16 
{
    padding-top: 16px !important;
    padding-bottom: 16px !important
}

/* Colors */
.feesandpolicies-white 
{
    color: #000 !important;
    background-color: #fff !important
}

.feesandpolicies-text-grey 
{
    color: #757575 !important
}

.feesandpolicies-container .policiesPar
{
    line-height: 1.5;
}

/* Table Properties */
table
{
    width: 100%;
}

table, th, td 
{
    border: 2px solid black;
    border-collapse: collapse;
}

th, td
{
    padding: 0.075in;
}

.table-heading
{
    font-weight: bold;
    text-align: center;
}