<section class="services">
<div class="services-content services-margin-top">
    <div class="services-row-padding">
        <div class="services-container services-card services-white services-margin-bottom">
            <div class="services-container">
                <div class="services-main">
                    <div class="services-row services-padding-16">
                        <div class="services-twothird services-container">
                            <h1 class="services-padding-16">Services Provided</h1>
                            <br>
                            <h2 class="services-text-teal">Psychiatric Evaluations</h2>
                            <p> During a psychiatric evaluation, the mental health provider gathers information
                                through various methods, such as diagnostic interview, questionnaire screenings
                                and standardized assessments. They explore the individual's medical history,
                                personal and social history, family history, current symptoms, past trauma, and
                                relevant life events. The provider will ask questions to obtain information
                                about active and past symptoms, duration, and severity to determine an accurate
                                diagnosis and treatment plan.
                            </p>
                            <br>
                            <p> A Psychiatric Evaluation takes approximately 60 minutes. Your provider may also
                                decide to order other testing, such as blood work to look at the overall health
                                of the patient and rule out any underlying issues that may be contributing to a
                                decline in mental health.
                            </p>
                        </div>
                        <div class="services-third services-container">
                            <img src="../images/psychiatric_evaluations.jpg"
                                class="psychiatric_evaluations_img center-image">
                        </div>
                    </div>
                    <hr>
                    <div class="services-row">
                        <div class="services-twothird services-container">
                            <h2 class="services-text-teal">Medication Management</h2>
                            <p> Psychiatric medication management is the process of working with your mental
                                health provider to ensure that your psychiatric medications are effective and
                                safe. This may include changing doses, switching medications, or adding new
                                drugs. Medication management can significantly reduce symptoms and help people
                                focus on their recovery. In fact, proper medication management can make the
                                difference in someone keeping close relationships, staying healthy, keeping a
                                job, and avoiding trouble.
                            </p>
                            <br>
                            <p> The same prescription drug can affect one person differently than it affects
                                another person. Our providers thoroughly discuss expectations, potential side
                                effects that can occur and different options that are available, while
                                considering cost-effectiveness. We also help patients discontinue and safely
                                taper off medications that are no longer needed, effective or beneficial to
                                their health.
                            </p>
                            <br>
                            <p> Medication management appointments can vary in frequency from weekly to every
                                1-3 months depending on the type of medication, diagnosis, and severity of
                                symptoms. Most refills are done during the follow up appointments.
                            </p>
                        </div>
                        <div class="services-third services-container">
                            <img src="../images/medication_management.jpg" class="services-image center-image">
                        </div>
                    </div>
                    <hr>
                    <div class="services-row">
                        <div class="services-twothird services-container">
                            <h2 class="services-text-teal">Genetic Testing</h2>
                            <p>Have you:</p>
                            <div class="genetic_testing">
                                <ul>
                                    <li> Tried and failed multiple medications? </li>
                                    <li> Experienced intolerable and severe side effects? </li>
                                    <li> Taken prescriptions that quickly or eventually become ineffective? </li>
                                </ul>
                            </div>
                            <br>
                            <p> We know the process of finding medication that works can be frustrating,
                                time-consuming and debilitating. The GeneSight® Test analyzes how your genes may
                                respond to and metabolize medications. A simple cheek swab is done to collect a
                                saliva sample and sent out to a laboratory. Results come back in 3-5 business
                                days. </p>
                            <br>
                            <p> The GeneSight Psychotropic report may help you avoid multiple medication trials
                                by providing information about which medications may require dose adjustments,
                                be less likely to work, or have an increased risk of side effects based on the
                                patient’s genetic information. </p>
                        </div>
                        <div class="services-third services-container">
                            <img src="../images/genetic_testing1.jpeg" class="services-image center-image">
                            <img src="../images/genetic_testing2.png" class="services-image center-image">
                        </div>
                    </div>
                    <hr>
                    <div class="services-row">
                        <div class="services-twothird services-container">
                            <h2 class="services-text-teal">ADHD Testing</h2>
                            <p> QbTest is an FDA-approved and widely used objective ADHD test that measures core
                                ADHD symptoms: activity, attention, and impulsivity. The test can be done on
                                ages 6 – 60 years old. The standardized test is backed by years of research and
                                is to be used alongsid other clinical measures and cognitive tests. It can rule
                                in or rule out the disorder and measure a patient’s response to treatment with a
                                follow up re-test.
                            </p>
                            <br>
                            <p> The test involves a 15-20 minute computer-based test. The results are instantly
                                generated, presented in a report, and compared with data from other people of
                                the same age who do not have ADHD. Your rovider will analyze, interpret, and
                                discuss the results with you during your appointment. Depending on the
                                individual’s results, the provider will develop a treatment plan that can
                                include prescription medication or alternative therapies. Testing is also
                                beneficial for students that may require specific school accommodations.
                            </p>
                            <br>
                            <p> New treatment options are also available for ADHD that can be used in
                                combination with or without prescription medication.
                            </p>
                        </div>
                        <div class="services-third services-container">
                            <img src="../images/adhd_testing.png" class="services-image center-image">
                            <div class="imagessidebyside_row">
                                <div class="imagessidebyside_column">
                                    <img src="../images/ResultwithoutADHD.png"
                                        style="width: 100%; padding-right: 16px;">
                                </div>
                                <div class="imagessidebyside_column">
                                    <img src="../images/ResultwithADHD.png"
                                        style="width: 100%; padding-left: 16px;">
                                </div>
                            </div>
                        </div>
                        <div class="services-twothird services-container" style="margin-top: 32px;">
                            <p> EndeavorRx is an ADHD treatment for kids aged 8-12. It’s delivered through an
                                immersive video game experience on mobile devices. </p>
                            <br>
                            <p> Created by world-class neuroscientists and award-winning game designers, it
                                targets areas of the brain that play a key role in attention function. </p>
                            <br>
                            <p> As an FDA-authorized medical device, EndeavorRx must be prescribed by a
                                healthcare professional. It should be considered for use as part of a
                                therapeutic program. </p>
                            <div class="adhd_testing">
                                <ul>
                                    <li>EndeavorRx uses sensory stimuli and motor challenges to target areas of
                                        the brain that play a key role in attention function.</li>
                                    <li>Kids are challenged to multitask and ignore distractions by navigating
                                        courses, collecting targets, and avoiding obstacles.</li>
                                    <li>An algorithm measures performance and customizes each patient’s
                                        treatment in real time.</li>
                                    <li>EndeavorRx is typically played for 25 minutes, 5 days a week, for at
                                        least 4 consecutive weeks, or as prescribed.</li>
                                    <li>Parents can follow their child’s treatment with the EndeavorRx Insight®
                                        app to track daily efforts and level completion.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="services-third services-container">
                            <img src="../images/EndeavorRx_Logo.png" class="services-image center-image">
                        </div>
                    </div>
                    <hr>
                    <div class="services-row">
                        <div class="services-twothird services-container">
                            <h2 class="services-text-teal">Telemedicine</h2>
                            <p> Paradigm Psychiatry offers Telemedicine appointments for both Intakes and Follow
                                Up visits. We use HIPAA compliant software to connect virtually online to
                                interact and consult with our patients privately and securely. Patients are able
                                to conveniently meet with their provider in the comfort of their own
                                environment. You can use any device that has both audio microphone and video
                                camera capabilities, such as your mobile phone device, Ipad, laptap or desktop
                                computer. Tele – Medicine offers flexibility and convenience, it saves time,
                                offers a solution for patients with transportation issues or mobility
                                limitations, and reduces the risk of missed or cancelled appointments. These are
                                just a few of the reasons why choosing to see a mental health professional
                                online can be a good idea.
                            </p>
                        </div>
                        <div class="services-third services-container">
                            <img src="../images/Telemedicine.JPG" class="services-image center-image">
                        </div>
                    </div>
                    <hr>
                    <div class="services-row">
                        <div class="services-twothird services-container">
                            <h2 class="services-text-teal">Psychotherapy</h2>
                            <p> Psychotherapy explores thoughts, feelings, and behaviors, and seeks to improve
                                an individual's well-being. Psychotherapy paired with medication management is
                                the most effective way to promote recovery. We try to incorporate anywhere from
                                10 to 20 minutes of psychotherapy into each session. It is a necessary component
                                in addition to the medication management portion to determine underlying issues
                                and the root causes of certain mental health issues. However, more extensive
                                therapy sessions may be recommended. Paradigm Psychiatry works closely with many
                                Psychologists, Therapists, and Counselors in the community and can provide a
                                referral for Psychotherapy, EMDR, DBT, & CBT. We will coordinate with your other
                                mental health providers to achieve more effective care.
                            </p>
                            <img src="../images/DesertValleyPediatricTherapy_Logo.png"
                                class="DesertValleyPediatricTherapy_Img">
                            <p>
                                Paradigm Psychiatry is also partnered with Desert Valley Pediatric Therapy, a
                                facility that provides clinic and home-based speech therapy, occupational
                                therapy, feeding, and physical therapy valley wide.
                            </p>
                        </div>
                        <div class="services-third services-container">
                            <img src="../images/Psychotherapy.jpg" class="services-image center-image">
                        </div>
                    </div>
                    <hr>
                    <div class="services-row">
                        <div class="services-twothird services-container">
                            <h2 class="services-text-teal">Alternative Treatments</h2>
                            <p> GI Sustain™ is designed to provide gastrointestinal nutritional support. The
                                formula is uniquely designed to help promote the growth of beneficial bacteria
                                by including prebiotic nutrients, combined with readily digestible
                                macronutrients.
                            </p>
                            <br>
                            <p>
                                GI Sustain features L-glutamine and prebiotic isomalto-oligosaccharides (IMOs)
                                to promote gastrointestinal health.
                            </p>
                            <div class="alternativetreatments">
                                <ul>
                                    <li> Nourishes the cells of the intestinal mucosa </li>
                                    <li> Features rice protein concentrate supplemented with L-lysine and
                                        L-threonine for an naturally-derived amino acid profile </li>
                                    <li> Formulated with rice syrup solids as a naturally-derived energy source
                                    </li>
                                    <li> Features medium-chain triglycerides, a readily absorbed and metabolized
                                        lipid source </li>
                                    <li> Features prebiotic IMOs to selectively nourish beneficial bacteria,
                                        including lactobacilli and bifidobacteria </li>
                                    <li> Formulated with zinc and L-glutamine to nutritionally support
                                        gastrointestinal mucosa integrity </li>
                                    <li> Features methylated vitamin B<sub>12</sub> and calcium L-5
                                        methyltetrahydrofolate, a bioavailable folate </li>
                                </ul>
                            </div>
                            <br>
                            <p> Lavela WS 1265™ is a clinically studied oral lavender essential oil for
                                relaxation and occosational anxiety. </p>
                            <div class="alternativetreatments">
                                <ul>
                                    <li> Lavela WS 1265, also known as Silexan™, is a clinically studied,
                                        non-habit-forming oral lavender essential oil (Lavendula angustifolia)
                                        that has been shown to promote relaxation, foster sleep quality in those
                                        experiencing occasional anxiety, calm nervousness, and support general
                                        mental health. Clinical trials published in peer reviewed medical
                                        journals demonstrate Lavela 1265 as a well-tolerated option for
                                        occasional anxiety. </li>
                                </ul>
                            </div>

                        </div>
                        <div class="services-third services-container">
                            <img src="../images/AlternativeTreratments.jpg" class="services-image center-image">
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

.services h1 {
    margin: 0px 0;
    font-size: 36px;
    color: #427F70 !important;
}

.services h2 {
    color: #427F70 !important;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 16px;
}

.services-container:after,
.services-container:before,
.services-row:after,
.services-row:before,
.services-row-padding:after,
.services-row-padding:before {
    content: "";
    display: table;
    clear: both
}

.services-third,
.services-twothird {
    float: left;

}

.services-content {
    margin-left: auto;
    margin-right: auto
}

@media (max-width:992px) {
    .services-main {
        margin-left: 0 !important;
        margin-right: 0 !important
    }
}

.services-row-padding {
    padding: 0 16px
}

.services-container {
    padding: 0.01em 16px;
}

.services-card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.services-center {
    text-align: center !important
}

.services-border {
    border: 1px solid #ccc !important
}

.services-margin-top {
    margin-top: 112px !important
}

.services-margin-bottom {
    margin-bottom: 16px !important
}

.services-padding-large {
    padding: 12px 24px !important
}

.services-padding-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important
}

.services-padding-32 {
    padding-top: 32px !important;
    padding-bottom: 32px !important
}

.services-padding-64 {
    padding-top: 0px !important;
    padding-bottom: 16px !important
}

.services p {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
}

.services-white {
    color: #000 !important;
    background-color: #fff !important
}

.services li
{
    font-weight: 400;
}

.genetic_testing ul 
{
    list-style: none;
    line-height: 1.5;
}

.genetic_testing li
{
    position: relative;
    padding-left: 1.5em;
    font-size: 16px;
}

.genetic_testing ul li:before {
    content: '✓'; 
}

.adhd_testing ul
{
    position: relative;
    padding-left: 1.5em;
    line-height: 1.5;
}

.adhd_testing li
{
    list-style-type: circle;
    font-size: 16px
}

.alternativetreatments ul
{
    position: relative;
    padding-left: 1.5em;
    line-height: 1.5;
}

.alternativetreatments li
{
    list-style-type: circle;
    font-size: 16px;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin-top: 16px;
    margin-bottom: 16px;
}

.services-third {
    width: 33.33333%
}

.services-twothird {
    width: 66.66666%
}

.imagessidebyside_column
{
    float: left;
    width: 50%;
}

.imagessidebyside_row::after
{
    content: "";
    clear: both;
    display: table;
}

.center-image {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.services-image
{
    margin-top: 32px;
    margin-bottom: 16px;
}

@media (max-width: 1024px) {
    .services-third {
        width: 100%
    }

    .services-twothird {
        width: 100%
    }

    .psychiatric_evaluations_img {
        margin-top: 16px !important;
    }
    
}

.psychiatric_evaluations_img {
    margin-top: 112px;
}

.DesertValleyPediatricTherapy_Img
{
    width: 66%;
    padding-top: 16px;
    padding-bottom: 16px;
}

