@import url('https://fonts.bunny.net/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: var(--body-font);
    font-weight: 500;
    background-color: var(--brand-blue)
}

:root {
    --brand-red: #994d4b;
    --brand-green: #40806f;
    --brand-blue: #2e506e;
    --heading-font-size: 36px;
    --body-font-size: 20px;
    --heading-font-weight: 700;
    --body-font-weight: 500;
    --header-font: 'Quicksand', sans-serif;
    --body-font: 'Quicksand', sans-serif;
}

h1 {
    color: var(--brand-green);
    font-family: var(--header-font);
    text-align: center;
    font-size: var(--heading-font-size);
    /* text-transform: uppercase; */
    margin-left: 8px;
    margin-right: 8px;
}

@media screen and (max-width: 400px) {
    h1 {
        font-size: 33px;
    }
}

li,
p {
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
}

label,
input,
textarea {
    font-size: var(--body-font-size);
}

/* NOTE: 1in = 96px */
.global_padding {
    padding: 0 192px;
}

@media screen and (max-width: 900px) {
    .global_padding {
        padding: 0 32px !important;
    }
}

.row {
    background: #fff;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.whole_column {
    background: #FFF;
    float: left;
    width: 100%;
}

.half_column {
    background: #FFF;
    float: left;
    width: 50%;
}

.third_column {
    background: #FFF;
    float: left;
    width: 33.33%;
}

.column_container {
    display: flex;
    width: 100%;
    background: transparent;
}

.twothird_column {
    flex: 1;
    width: 66.66%;
    margin-right: 16px;
    background: white;
}

.onethird_column {
    background: white;
    width: 33.33%;
}

.onehalf_column {
    flex: 1;
    width: 50%;
    margin-right: 16px;
    background: white;
}

.otherhalf_column {
    width: 50%;
    background: white;
}

.center_horizontal {
    display: flex;
    justify-content: center;
    /* text-align: center; */
}

.center_vertical {
    display: flex;
    align-items: center;
}

.center_both {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

/* Wrap text within the div */
/* .word_wrap {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

@media screen and (max-width: 480px) {
    .word_wrap {
        white-space: normal;
        word-wrap: normal;
    }
} */

.box_shadow {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.arrow span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.arrow span::after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    font-size: 18px;
}

.arrow:hover span {
    padding-right: 20px;
}

.arrow:hover span:after {
    opacity: 1;
    right: 0;
}