<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script defer src="./marquee.js"></script>
    <link rel="stylesheet" href="marquee.css">
</head>
<body>
    <section class="marquee">
        <div id="main">
            <p class="para" id="para1"> We are excited to welcome Jill Abernathy NP to our team. She is accepting new patients! </p>
        </div>
    </section>
</body>
</html>