<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    Home Navigation Bar
    <!-- <section id="navigation_bar">
        <div class="top-bar">
            <div class="top-bar__content">
                <div class="phone">
                    <i class="fa-solid fa-phone"></i>
                    <span> &nbsp;480-613-9599 </span>
                </div>
                <div class="email">
                    <i class="fa-solid fa-envelope"></i>
                    <span> &nbsp;info@paradigmpsychiatry.com </span>
                </div>
            </div>
        </div>
        <div class="bottom-bar">
            <div class="bottom-bar__content">
                <a href="index.html" class="logo">
                    <img class="logo__img" src="./images/navbar_logo.svg" alt="logo">
                    <span class="logo__text"> Paradigm Psychiatry </span>
                </a>
                <nav class="nav">
                    <ul class="nav__list">
                        <li class="nav__item nav__item__active"> <a class="nav__active" href="index.html">Home</a> </li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./pages/about_us.html">About Us</a></li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./pages/services.html">Services</a></li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./pages/policies.html">Policies</a></li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./pages/providers.html">Providers</a></li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./pages/contact.html">Contact</a></li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./pages/faq.html">FAQ</a></li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./pages/resources.html">Resources</a></li>
                        <li><button onclick="location.href='./pages/schedule_appointment.html'">Schedule Appointment</button></li>
                    </ul>
                </nav>
                <div class="hamburger">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>
        </div>
    </section> -->

    About Us Navigation Bar
    <!-- <section id="navigation_bar">
        <div class="top-bar">
            <div class="top-bar__content">
                <div class="phone">
                    <i class="fa-solid fa-phone"></i>
                    <span> &nbsp;480-613-9599 </span>
                </div>
                <div class="email">
                    <i class="fa-solid fa-envelope"></i>
                    <span> &nbsp;info@paradigmpsychiatry.com </span>
                </div>
            </div>
        </div>
        <div class="bottom-bar">
            <div class="bottom-bar__content">
                <a href="../index.html" class="logo">
                    <img class="logo__img" src="../images/navbar_logo.svg" alt="logo">
                    <span class="logo__text"> Paradigm Psychiatry </span>
                </a>
                <nav class="nav">
                    <ul class="nav__list">
                        <li class="nav__item"> <a class="nav__link fromLeft" href="../index.html">Home</a></li>
                        <li class="nav__item nav__item__active"> <a class="nav__active" href="./about_us.html">About Us</a> </li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./services.html">Services</a></li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./policies.html">Policies</a></li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./providers.html">Providers</a></li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./contact.html">Contact</a></li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./faq.html">FAQ</a></li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./resources.html">Resources</a></li>
                        <li><button onclick="location.href='./schedule_appointment.html'">Schedule Appointment</button></li>
                    </ul>
                </nav>
                <div class="hamburger">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>
        </div>
    </section> -->

    Services Navigation Bar
    <!-- <section id="navigation_bar">
        <div class="top-bar">
            <div class="top-bar__content">
                <div class="phone">
                    <i class="fa-solid fa-phone"></i>
                    <span> &nbsp;480-613-9599 </span>
                </div>
                <div class="email">
                    <i class="fa-solid fa-envelope"></i>
                    <span> &nbsp;info@paradigmpsychiatry.com </span>
                </div>
            </div>
        </div>
        <div class="bottom-bar">
            <div class="bottom-bar__content">
                <a href="../index.html" class="logo">
                    <img class="logo__img" src="../images/navbar_logo.svg" alt="logo">
                    <span class="logo__text"> Paradigm Psychiatry </span>
                </a>
                <nav class="nav">
                    <ul class="nav__list">
                        <li class="nav__item"> <a class="nav__link fromLeft" href="../index.html">Home</a></li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./about_us.html">About Us</a> </li>
                        <li class="nav__item nav__item__active"> <a class="nav__active" href="./services.html">Services</a></li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./policies.html">Policies</a></li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./providers.html">Providers</a></li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./contact.html">Contact</a></li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./faq.html">FAQ</a></li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./resources.html">Resources</a></li>
                        <li><button onclick="location.href='./schedule_appointment.html'">Schedule Appointment</button></li>
                    </ul>
                </nav>
                <div class="hamburger">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>
        </div>
    </section> -->

    Policies Navigation Bar
    <!-- <section id="navigation_bar">
        <div class="top-bar">
            <div class="top-bar__content">
                <div class="phone">
                    <i class="fa-solid fa-phone"></i>
                    <span> &nbsp;480-613-9599 </span>
                </div>
                <div class="email">
                    <i class="fa-solid fa-envelope"></i>
                    <span> &nbsp;info@paradigmpsychiatry.com </span>
                </div>
            </div>
        </div>
        <div class="bottom-bar">
            <div class="bottom-bar__content">
                <a href="../index.html" class="logo">
                    <img class="logo__img" src="../images/navbar_logo.svg" alt="logo">
                    <span class="logo__text"> Paradigm Psychiatry </span>
                </a>
                <nav class="nav">
                    <ul class="nav__list">
                        <li class="nav__item"> <a class="nav__link fromLeft" href="../index.html">Home</a></li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./about_us.html">About Us</a> </li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./services.html">Services</a></li>
                        <li class="nav__item nav__item__active"> <a class="nav__active" href="./policies.html">Policies</a></li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./providers.html">Providers</a></li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./contact.html">Contact</a></li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./faq.html">FAQ</a></li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./resources.html">Resources</a></li>
                        <li><button onclick="location.href='./schedule_appointment.html'">Schedule Appointment</button></li>
                    </ul>
                </nav>
                <div class="hamburger">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>
        </div>
    </section> -->

    Providers Navigation Bar
    <!-- <section id="navigation_bar">
        <div class="top-bar">
            <div class="top-bar__content">
                <div class="phone">
                    <i class="fa-solid fa-phone"></i>
                    <span> &nbsp;480-613-9599 </span>
                </div>
                <div class="email">
                    <i class="fa-solid fa-envelope"></i>
                    <span> &nbsp;info@paradigmpsychiatry.com </span>
                </div>
            </div>
        </div>
        <div class="bottom-bar">
            <div class="bottom-bar__content">
                <a href="../index.html" class="logo">
                    <img class="logo__img" src="../images/navbar_logo.svg" alt="logo">
                    <span class="logo__text"> Paradigm Psychiatry </span>
                </a>
                <nav class="nav">
                    <ul class="nav__list">
                        <li class="nav__item"> <a class="nav__link fromLeft" href="../index.html">Home</a></li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./about_us.html">About Us</a> </li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./services.html">Services</a></li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./policies.html">Policies</a></li>
                        <li class="nav__item nav__item__active"> <a class="nav__active" href="./providers.html">Providers</a></li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./contact.html">Contact</a></li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./faq.html">FAQ</a></li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./resources.html">Resources</a></li>
                        <li><button onclick="location.href='./schedule_appointment.html'">Schedule Appointment</button></li>
                    </ul>
                </nav>
                <div class="hamburger">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>
        </div>
    </section> -->

    Contact Navigation Bar
    <!-- <section id="navigation_bar">
        <div class="top-bar">
            <div class="top-bar__content">
                <div class="phone">
                    <i class="fa-solid fa-phone"></i>
                    <span> &nbsp;480-613-9599 </span>
                </div>
                <div class="email">
                    <i class="fa-solid fa-envelope"></i>
                    <span> &nbsp;info@paradigmpsychiatry.com </span>
                </div>
            </div>
        </div>
        <div class="bottom-bar">
            <div class="bottom-bar__content">
                <a href="../index.html" class="logo">
                    <img class="logo__img" src="../images/navbar_logo.svg" alt="logo">
                    <span class="logo__text"> Paradigm Psychiatry </span>
                </a>
                <nav class="nav">
                    <ul class="nav__list">
                        <li class="nav__item"> <a class="nav__link fromLeft" href="../index.html">Home</a></li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./about_us.html">About Us</a> </li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./services.html">Services</a></li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./policies.html">Policies</a></li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./providers.html">Providers</a></li>
                        <li class="nav__item nav__item__active"> <a class="nav__active" href="./contact.html">Contact</a></li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./faq.html">FAQ</a></li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./resources.html">Resources</a></li>
                        <li><button onclick="location.href='./schedule_appointment.html'">Schedule Appointment</button></li>
                    </ul>
                </nav>
                <div class="hamburger">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>
        </div>
    </section> -->

    FAQ Navigation Bar
    <section id="navigation_bar">
        <div class="top-bar">
            <div class="top-bar__content">
                <div class="phone">
                    <i class="fa-solid fa-phone"></i>
                    <span> &nbsp;480-613-9599 </span>
                </div>
                <div class="email">
                    <i class="fa-solid fa-envelope"></i>
                    <span> &nbsp;info@paradigmpsychiatry.com </span>
                </div>
            </div>
        </div>
        <div class="bottom-bar">
            <div class="bottom-bar__content">
                <a href="../index.html" class="logo">
                    <img class="logo__img" src="../images/navbar_logo.svg" alt="logo">
                    <span class="logo__text"> Paradigm Psychiatry </span>
                </a>
                <nav class="nav">
                    <ul class="nav__list">
                        <li class="nav__item"> <a class="nav__link fromLeft" href="../index.html">Home</a></li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./about_us.html">About Us</a> </li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./services.html">Services</a></li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./policies.html">Policies</a></li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./providers.html">Providers</a></li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./contact.html">Contact</a></li>
                        <li class="nav__item nav__item__active"> <a class="nav__active" href="./faq.html">FAQ</a></li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./resources.html">Resources</a></li>
                        <li><button onclick="location.href='./schedule_appointment.html'">Schedule Appointment</button></li>
                    </ul>
                </nav>
                <div class="hamburger">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>
        </div>
    </section>

    Resources Navigation Bar
    <section id="navigation_bar">
        <div class="top-bar">
            <div class="top-bar__content">
                <div class="phone">
                    <i class="fa-solid fa-phone"></i>
                    <span> &nbsp;480-613-9599 </span>
                </div>
                <div class="email">
                    <i class="fa-solid fa-envelope"></i>
                    <span> &nbsp;info@paradigmpsychiatry.com </span>
                </div>
            </div>
        </div>
        <div class="bottom-bar">
            <div class="bottom-bar__content">
                <a href="../index.html" class="logo">
                    <img class="logo__img" src="../images/navbar_logo.svg" alt="logo">
                    <span class="logo__text"> Paradigm Psychiatry </span>
                </a>
                <nav class="nav">
                    <ul class="nav__list">
                        <li class="nav__item"> <a class="nav__link fromLeft" href="../index.html">Home</a></li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./about_us.html">About Us</a> </li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./services.html">Services</a></li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./policies.html">Policies</a></li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./providers.html">Providers</a></li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./contact.html">Contact</a></li>
                        <li class="nav__item"> <a class="nav__link fromLeft" href="./faq.html">FAQ</a></li>
                        <li class="nav__item nav__item__active"> <a class="nav__active" href="./resources.html">Resources</a></li>
                        <li><button onclick="location.href='./schedule_appointment.html'">Schedule Appointment</button></li>
                    </ul>
                </nav>
                <div class="hamburger">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>