#appointment-information p:nth-child(7) {
    margin-bottom: 16px;
}

#schedule-appointment button {
    background: var(--brand-blue);
    border: 1px solid #005580;
    border-radius: 16px;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    margin: 16px 0;
    overflow: hidden;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    transition: all .2s;
    vertical-align: middle;
    white-space: nowrap;
}

#schedule-appointment button:hover {
    transform: scale(1.1);
}

.half-container {
    float: left;
    width: 100%;
}

.otherhalf-container,
#appointment-information {
    margin-top: 16px;
}

.row-padding,
.row-padding>.half-container,
.row-padding>.whole-container {
    padding: 0 8px !important;
}

main {
    margin: 108px 0 16px;
}

main h1 {
    color: var(--brand-green);
    text-align: center;
}

main h2 {
    color: var(--brand-green);
    margin: 16px 0;
}

@media (min-width: 1024px) {
    .half-container {
        width: 49.99999%;
    }

    .otherhalf-container {
        margin-top: 0;
    }
}