body 
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #005580;
}

/* About Us */
.about-us
{
    box-sizing: border-box;
}

.about-us hr 
{
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.about-us h2 
{
    font-size: 30px;
    font-weight: 400;
    margin: 0px 0;
}

.about-us h1
{
    color: #427F70 !important;
    font-size: 36px;
}

.about-us p
{
    padding-bottom: 16px;
}

.about-us h2
{
    padding-top: 8px;
}

.about-display-container 
{
    position: relative;
}

.about-container:after,
.about-container:before,
.about-row-padding:after,
.about-row-padding:before 
{
    content: "";
    display: table;
    clear: both;
}

.about-third,
.about-twothird 
{
    float: left;
    width: 100%;
}

.about-content 
{
    margin-left: auto;
    margin-right: auto;
}

.about-row-padding,
.about-row-padding>.about-third,
.about-row-padding>.about-twothird 
{
    padding: 0 8px;
}

.about-container 
{
    padding-top: 0.01em; 
    padding-bottom: 4px; 
    padding-left: 16px;
    padding-right: 16px;
    line-height: 1.5;
}

.about-card 
{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.about-card-4 
{
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-large 
{
    font-size: 18px;
}

.about-xxlarge 
{
    font-size: 36px !important
}

.about-margin-top 
{
    margin-top: 112px !important;
}

.about-margin-bottom 
{
    margin-bottom: 16px !important;
}

.about-margin-right 
{
    margin-right: 16px !important;
}

.about-margin-right-address 
{
    margin-right: 22px;
}

.about-third 
{
    margin-bottom: 16px;
}

.about-padding-16 
{
    padding-bottom: 0px !important;
}

.about-white 
{
    color: #000 !important;
    background-color: #fff !important
}

.about-light-grey 
{
    color: #000 !important;
    background-color: #f1f1f1 !important;
}

.about-text-grey 
{
    color: #427F70 !important;
}

/* Conditions Treated and Evaluated */

.conditions
{
    box-sizing: border-box;
}

.conditions h2 
{
    font-size: 30px;
    font-weight: 400;
    margin: 0px 0;
}

.conditions h1
{
    color: #427F70 !important;
    font-size: 36px;
}

.conditions p
{
    padding-bottom: 16px;
}

.conditions h2
{
    padding-top: 8px;
}

.conditions-display-container 
{
    position: relative;
}

.conditions-container:after,
.conditions-container:before,
.conditions-row-padding:after,
.conditions-row-padding:before 
{
    content: "";
    display: table;
    clear: both;
}

.conditions-third,
.conditions-twothird 
{
    float: left;
    width: 100%;
}

.conditions-content 
{
    margin-left: auto;
    margin-right: auto;
}

.conditions-row-padding,
.conditions-row-padding>.conditions-third,
.conditions-row-padding>.conditions-twothird 
{
    padding: 0 8px;
}

.conditions-container2
{
    padding-top: 0.01em; 
    padding-bottom: 16px; 
    padding-left: 16px;
    padding-right: 16px;
    line-height: 1.5;
}

.conditions-container
{
    padding: 0.01em 16px;
    line-height: 1.5;
    text-align: center;
}

.conditions-card 
{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.conditions-card-4 
{
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.conditions-large 
{
    font-size: 18px;
}

.conditions-xxlarge 
{
    font-size: 36px !important
}

.conditions-margin-top 
{
    margin-top: 16px !important;
}

.conditions-margin-bottom 
{
    margin-bottom: 16px !important;
}

.conditions-margin-right 
{
    margin-right: 16px !important;
}

.conditions-margin-right-address 
{
    margin-right: 22px;
}

.conditions-third 
{
    margin-bottom: 16px;
}

.conditions-padding-16 
{
    padding-bottom: 0px !important;
}

.conditions-white 
{
    color: #000 !important;
    background-color: #fff !important
}

.conditions-light-grey 
{
    color: #000 !important;
    background-color: #f1f1f1 !important;
}

.conditions-text-grey 
{
    color: #757575 !important;
}

.conditions-columns
{
    
    display: inline-block;
  text-align: left;
  width: 800px;
  column-count: 2;
}