#conditions ul {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 16px;
}

#medication p {
    line-height: 1;
    margin-bottom: 16px;
}

#mission-values img {
    display: block;
    margin: 0 auto;
}

#mission-values,
#conditions,
#medication {
    margin-top: 16px;
}

.columns {
    columns: 3;
}

h1 {
    color: var(--brand-green);
    text-align: center;
}

main {
    margin: 108px 0 16px;
}

main p:not(#medication p) {
    margin: 16px 0;
    text-align: center;
}

@media screen and (max-width: 768px) {
    #mission-values img {
        height: auto;
        width: 75%;
    }
}

@media screen and (max-width: 1181px) {
    .columns {
        columns: 2;
    }
}

@media screen and (max-width: 807px) {
    .columns {
        columns: 1;
    }
}