header {
    font-size: 40px;
    font-weight: var(--header-font-weight);
    text-transform: uppercase;
    text-align: center;
    padding: 48px 32px;
    background-color: var(--brand-green);
    color: #fff;
}

main p {
    line-height: 1.5;
    margin-top: var(--body-font-size);
}

/* About Us Section */
#about-us {
    background-color: var(--background-color);
    text-align: center;
}

#about-us p:nth-last-child(2) {
    font-weight: 700;
}

#about-us p:nth-last-child(1) {
    margin-bottom: var(--body-font-size);
}

/* Mission and Values Section */
#mission-and-values {
    /* margin-top: var(--body-font-size); */
    background-color: var(--background-color);
    text-align: center;
}

#mission-and-values img {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 50%;
}

@media (max-width: 768px) {
    #mission-and-values img {
        height: auto;
        width: 100%;
    }
}

#mission-and-values p:nth-last-child(1) {
    margin-bottom: var(--body-font-size);
}

/* Conditions Treated and Evaluated Section */
#conditions {
    background-color: var(--background-color);
}

#conditions ul {
    line-height: 1.5;
    margin: var(--body-font-size) 0;
}

.columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    column-gap: 64px;
}

@media (max-width: 1024px) {
    .columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        padding-left: 20px;
    }
}

/* Medication Types */
#medication-types {
    background-color: var(--background-color);
    text-align: left;
}

#medication-types p {
    margin-bottom: var(--body-font-size);
}