html {
    scroll-behavior: smooth;
}

#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: var(--brand-green);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.2s;
}

#backToTopBtn::before {
    content: '\f35b';
    font: var(--fa-font-solid);
}

#backToTopBtn i {
    margin-right: 6px;
}

@media (hover: hover) {
    #backToTopBtn:hover {
        background: rgba(66, 127, 112, .66);
    }
}