html {
    scroll-behavior: smooth;
    scroll-padding: 6rem;
}

#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: var(--brand-green);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.2s;
}

#backToTopBtn i {
    margin-right: 6px;
}

@media (hover: hover) {
    #backToTopBtn:hover {
        background: rgba(66, 127, 112, 0.5);
    }
}