/* html {
    scroll-behavior: smooth;
    scroll-padding: 16rem;
}

.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    border-radius: 100%;
    background: #994d4b;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    opacity: 100%;
    transition: opacity 0.5s;
}

.hidden {
    opacity: 0%;
}

.back-to-top-icon {
    width: 2rem;
    height: 2rem;
    color: white;
}

.back-to-top:hover {
    opacity: 60%;
} */

#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #994d4b;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}