ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
}

ul.breadcrumb li {
    display: inline;
    font-size: 16px;
    font-weight: 600;
}

ul.breadcrumb li+li:before {
    padding: 4px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #005580;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    text-decoration: underline;
}