header {
    font-size: 36px;
    font-weight: var(--header-font-weight);
    text-transform: uppercase;
    text-align: center;
    padding: 32px 32px;
    background-color: var(--brand-green);
    color: #fff;
}

/* Contact Section */
#contact {
    /* margin-top: var(--body-font-size); */
    background-color: #f1f1f1;
}

#contact .two-third-column,
#contact .one-third-column {
    background-color: var(--background-color);
}

#contact-form,
.contact-information {
    padding: 0 32px;
}

#contact .office-location,
.phone-numbers,
.email-addresses,
.office-hours {
    line-height: 1.5;
    margin-top: var(--body-font-size);
}

#contact input,
#contact textarea {
    border: 1px solid var(--background-color-darker);
    border-radius: 16px;
    box-sizing: border-box;
    margin: 4px 0 16px;
    padding: 12px;
    resize: none;
    width: 100%;
    background-color: var(--background-color-darker);
}

#contact input:focus,
#contact textarea:focus {
    outline: transparent;
    border: 3px solid var(--brand-green);
    transition: 0.05s all;
}

/* .two-third-column {
    margin-right: var(--body-font-size);
} */

#contact textarea {
    margin-top: 6px !important;
    height: 280px;
    resize: none;
}

#contact button[type=submit] {
    background: var(--brand-green);
    border: transparent;
    border-radius: 16px;
    color: #FFF;
    cursor: pointer;
    margin-bottom: var(--body-font-size);
    padding: 16px;
    transition: all .2s;
    width: 50%;
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
}

#contact button:hover {
    background-color: var(--brand-green-hover);
}

#contact .two-third-column header {
    margin-bottom: var(--body-font-size)
}

.key {
    font-size: 24px;
    font-weight: var(--header-font-weight);
    color: var(--brand-green);
    margin-top: var(--body-font-size);
}

.key i {
    margin-right: calc(var(--body-font-size)/2);
}

.value {
    font-weight: var(--body-font-weight);
    font-size: var(--body-font-size);
    margin-top: calc(var(--body-font-size)/2);
    color: #000;
}

#contact .phone-numbers .value:nth-last-child(1),
#contact .email-addresses .value:nth-last-child(1) {
    margin-top: 4px;
}

#contact a {
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--background-color);
    font-size: var(--body-font-size);
    margin-bottom: var(--body-font-size);
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid lightgray;
    font-weight: var(--body-font-weight);
}

@media (max-width: 1024px) {
    #contact .column-container {
        display: block;
    }

    #contact .one-third-column,
    #contact .two-third-column {
        width: 100%;
    }

    #contact .one-third-column {
        /* margin-top: var(--body-font-size); */
        text-align: center;
    }
}

/* Location Section */
#location {
    /* margin-top: var(--body-font-size); */
    background-color: var(--background-color);
    text-align: center;
}

#location .office-location {
    font-weight: var(--body-font-weight);
    font-size: 20px;
    margin: var(--body-font-size) 0;
    padding: 0 16px;
}

#location i {
    margin-right: calc(var(--body-font-size)/2);
}

.map {
    border: none;
    height: 100%;
    width: 90%;
}

.map-container {
    height: 300px;
    margin-bottom: var(--body-font-size);
    overflow: hidden;
    position: relative;
}