main {
    margin-top: 106px;
}

#contact_form,
.contact_information {
    padding: 0 32px;
}

main input,
main textarea {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    margin: 4px 0 16px;
    padding: 12px;
    resize: vertical;
    width: 100%;
}

main textarea {
    height: 180px;
    margin-top: 6px;
}

main button[type=submit] {
    background: var(--brand-green);
    border: none;
    border-radius: 16px;
    color: #FFF;
    cursor: pointer;
    margin-bottom: 16px;
    padding: 16px;
    transition: all .2s;
    width: 50%;
    font-size: var(--body-font-size);
}

main button[type=submit]:hover {
    transform: scale(1.1);
}

.office-location,
.phone-numbers,
.email-addresses,
.office-hours {
    margin-bottom: 16px;
    line-height: 1.5;
}

main .key {
    font-family: var(--header-font);
    color: var(--brand-green);
    font-size: 24px;
    font-weight: 700;
}

main a {
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1024px) {
    main .column_container {
        display: block;
    }

    main .onethird_column,
    main .twothird_column {
        width: 100%;
    }

    main .twothird_column,
    main .onethird_column {
        margin-top: -8px;
    }

    main h1 {
        padding-top: 16px;
    }

    .contact_information {
        text-align: center;
    }

    main p {
        padding-bottom: 0;
    }

    main p:nth-child(8) {
        padding-bottom: 16px;
    }
}