main {
    margin-top: 114px;
}

main .global_padding {
    padding: 0 1in;
}

.accordion .answer {
    background: #FFF;
    height: 0;
    line-height: 1.5;
    overflow: hidden;
    position: relative;
    transition: .2s;
    font-size: var(--body-font-size);
}

.accordion .block {
    margin: 10px;
    position: relative;
}

.accordion .block.active .answer {
    height: auto;
    padding: 8px 24px 8px 0;
}

.accordion .block.active .question::before {
    content: '\f0d8';
    font: var(--fa-font-solid);
    font-size: 24px;
}

.accordion .question {
    cursor: pointer;
    font-size: 24px;
    padding: 10px 32px 10px 0;
    position: relative;
    word-break: break-word;
    font-weight: 500;
}

.accordion .question::before {
    content: '\f0d7';
    font-size: 30px;
    position: absolute;
    right: -5px;
    top: 50%;
    font: var(--fa-font-solid);
    transform: translateY(-50%);
}

.accordion hr {
    border: 0;
    border-top: 1px solid gray;
    margin-left: 0;
    opacity: .5;
    width: 100%;
}

.answer a {
    text-decoration: none;
}

.underline,
.answer a:hover {
    text-decoration: underline;
}