footer {
    margin-top: 16px;
}

footer h2 {
    text-align: center;
    margin: 16px 0;
    color: white;
    font-family: var(--header-font);
}

footer .half_column {
    background-color: rgb(34, 34, 34);
}

footer li {
    color: white;
}

footer i {
    margin-right: 16px;
}

.footer_contact ul li {
    display: flex;
    margin-bottom: 16px;
    align-items: center;
}

.contact_margin_right {
    margin-left: 4px;
}

.footer_quick_links {
    text-align: center;
}

.footer_quick_links a {
    text-decoration: none;
    line-height: 2;
    color: white;
}

.footer_quick_links a:hover {
    text-decoration: underline;
}

footer .whole_column h2 {
    font-family: var(--header-font);
    font-size: 16px;
}

footer .whole_column {
    background-color: rgb(66, 66, 66);
}

footer .half_column ul li,
footer p {
    font-size: 16px;
}

.footer_contact {
    text-align: center;
}

.footer_quick_links .last_item,
.footer_contact .last_item {
    margin-bottom: 16px;
}

footer .columns {
    columns: 1;
    display: inline-block;
    text-align: left;
}

footer .whole_column h2 {
    font-weight: 400;
}

@media screen and (max-width: 1024px) {
    footer .column_container {
        display: block;
    }

    footer .half_column {
        width: 100%;
    }

    .footer_contact {
        padding-right: 32px;
    }

    .footer_contact ul li {
        display: flex;
        margin: 0 0 16px 64px;
        align-items: center;
    }
}

@media screen and (max-width: 330px) {
    footer .half_column ul li,
    footer p {
        font-size: 15px;
    }
}