body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

footer {
    background-color: rgb(34, 34, 34);
    color: white;
    width: 100%;
    margin-top: auto;
}

footer a {
    text-decoration: none;
    transition: .5s;
    color: #fff;
}

footer ul,
footer li {
    list-style-type: none;
}

.footer-info {
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding-top: 32px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 16px;
}

.footer-about,
.footer-contact {
    width: 40%;
}

.footer-info .footer-width {
    padding: 0 16px;
}

.footer-info h2 {
    margin-bottom: 20px;
}

.footer-links h2 {
    text-align: center;
}

.footer-links {
    width: 20%;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}

.footer-contact ul li {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.footer-contact ul li span {
    margin-right: 16px;
}

.footer-about {
    padding-right: 16px;
}

.footer-copy-right {
    padding: 16px 0;
    text-align: center;
    background-color: rgb(66, 66, 66);
}

.footer-links ul li a {
    display: inline-block;
    margin-bottom: 16px;
    font-size: 16px;
    text-decoration: none;
}

.footer-links ul li {
    text-align: center;
}

footer h2 {
    text-align: center;
}

@media screen and (max-width: 992px) {

    .footer-about,
    .footer-contact {
        width: 35%;
    }

    .footer-links {
        width: 30%;
    }

    .footer-links ul li {
        text-align: center;
    }

    .footer-about {
        padding-right: 0px;
    }
}

@media screen and (max-width: 767px) {

    .footer-about,
    .footer-contact,
    .footer-links {
        width: 100%;
        margin-bottom: 30px;
    }

    .footer-info {
        flex-direction: column;
    }
}