/* Global Styles */
header {
    font-size: 36px;
    font-weight: var(--header-font-weight);
    text-transform: uppercase;
    text-align: center;
    padding: 40px 32px;
    background-color: var(--brand-green);
    color: #fff;
}

/* Hero Section */
/* #hero {
    background-color: salmon;
    height: calc(100vh - 98px);
    padding: 64px 64px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

#hero img {
    height: 400px;

}

#hero .hero-text {
    width: 66.66%;
}

#hero h1 {
    font-size: 64px;
}

@media (max-width: 1024px) {
    #hero {
        flex-direction: column;
        justify-content:safe;
        padding-top: 0 !important;
    }

    #hero img {
        width: 66.66%;
        height: auto;
        margin-right: 0px;
    }

    #hero .hero-text {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 800px) {
    #hero {
        padding: 128px 64px;
    }
    
    #hero img {
        width: 66.66%;
        height: auto;
        margin-right: 0px;
    }

    #hero h1 {
        font-size: 40px;
    }
} */

#hero h1 {
    font-size: 60px;
    margin: 0;
    padding: 16px 0;
}

.hero-image {
    background-image: url("../images/hero.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(var(--screen-height) - 98px);
    position: relative;
}

.hero-text {
    color: var(--brand-green);
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hero-container {
    background-color: #fef9f6;
    padding: 64px;
    border-width: 12px;
    border-style: solid;
    border-color: #2b564a;
    border-radius: 1000px;
}

.hero-text img {
    height: 150px;
    width: 150px;
}

@media screen and (max-width: 480px) {
    .hero-container {
        padding: 48px;
    }

    .hero-container h1 {
        font-size: 40px !important;
    }

    #hero img {
        width: 64% !important;
        height: 64% !important;
    }
}

@media screen and (max-width: 400px) {
    .hero-container {
        padding: 48px;
    }

    .hero-container h1 {
        font-size: 36px !important;
    }

    #hero img {
        width: 60% !important;
        height: 60% !important;
    }
}

@media screen and (max-width: 320px) {
    .hero-container {
        padding: 32px;
    }

    .hero-container h1 {
        font-size: 32px !important;
    }

    #hero img {
        width: 55% !important;
        height: 55% !important;
    }
}

/* Welcome Section */
#welcome {
    background-color: var(--background-color);
}

#welcome .welcome-text {
    font-size: 64px;
    font-weight: var(--header-font-weight);
    text-align: center;
    margin: 48px 0;
    color: var(--brand-green);
    padding: 0 32px;
}

#welcome .heading {
    font-size: 32px;
    font-weight: var(--header-font-weight);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: var(--body-font-size);
    padding: 0 32px;
}

#welcome button {
    border-radius: 16px;
    padding: 16px;
    border: transparent;
    background-color: var(--brand-green);
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: var(--body-font-size);
    font-weight: var(--header-font-weight);
    transition: all 0.2s;
}

#welcome button:nth-last-child(1) {
    margin-left: var(--body-font-size);
}

#welcome button:hover {
    background-color: var(--brand-green-hover);
}

@media (max-width: 480px) {
    #welcome .welcome-text {
        font-size: 56px;
    }

    #welcome .header-2 {
        font-size: 28px;
    }

    #welcome button {
        width: 75%;
    }

    #welcome .center-horizontal {
        display: block;
        text-align: center;
    }

    #welcome button:nth-last-child(1) {
        margin-left: 0;
    }
}

@media (max-width: 385px) {
    #welcome .welcome-text {
        font-size: 48px;
    }

    #welcome .header-2 {
        font-size: 24px;
    }
}

@media (max-width: 340px) {
    #welcome .welcome-text {
        font-size: 42px;
    }

    #welcome .header-2 {
        font-size: 20px;
    }

    #welcome button {
        font-size: 16px;
    }
}

/* Providers Section */
#providers {
    /* margin-top: var(--body-font-size); */
    background-color: var(--background-color);
    text-align: center;
}

#providers img {
    width: 250px;
    margin-top: var(--body-font-size);
    border-radius: 16px;
    border: 6px solid var(--brand-green);
}

.provider-name {
    font-size: 24px;
    font-weight: 700;
}

.provider-specialty {
    color: gray;
    font-weight: var(--body-font-weight);
    margin-top: 4px;
}

#providers button {
    margin: calc(var(--body-font-size)/2) 0 var(--body-font-size) 0;
    font-weight: var(--body-font-weight);
    border-radius: 16px;
    padding: 8px;
    border: transparent;
    font-size: var(--body-font-size);
    color: #fff;
    background-color: var(--brand-green);
}

@media (max-width: 1350px) {
    #providers .third-column {
        width: 100%;
    }

    #providers .global-padding {
        padding: 0;
    }
}

@media (max-width: 480px) {
    #providers img {
        width: 58%;
        height: auto;
    }
}

/* Location Section */
#location {
    /* margin-top: var(--body-font-size); */
    background-color: var(--background-color);
    text-align: center;
}

#location .office-location {
    font-weight: var(--body-font-weight);
    font-size: 20px;
    margin: var(--body-font-size) 0;
    padding: 0 16px;
}

#location i {
    margin-right: calc(var(--body-font-size)/2);
}

.map {
    border: none;
    height: 100%;
    width: 90%;
}

.map-container {
    height: 300px;
    margin-bottom: var(--body-font-size);
    overflow: hidden;
    position: relative;
}

/* Contact Section */
#contact {
    /* margin-top: var(--body-font-size); */
    background-color: var(--background-color);
}

#contact .two-third-column,
#contact .one-third-column {
    background-color: var(--background-color);
}

#home-form,
.contact-information {
    padding: 0 32px;
}

#contact .office-location,
.phone-numbers,
.email-addresses,
.office-hours {
    line-height: 1.5;
    margin-top: var(--body-font-size);
}

#contact input,
#contact textarea {
    border: 1px solid var(--background-color-darker);
    border-radius: 16px;
    box-sizing: border-box;
    margin: 4px 0 16px;
    padding: 12px;
    resize: none;
    width: 100%;
    background-color: var(--background-color-darker);
}

#contact input:focus,
#contact textarea:focus {
    outline: transparent;
    border: 3px solid var(--brand-green);
    transition: 0.05s all;
}

/* .two-third-column {
    margin-right: var(--body-font-size);
} */

#contact textarea {
    margin-top: 6px !important;
    height: 280px;
    resize: none;
}

#contact button[type=submit] {
    background: var(--brand-green);
    border: transparent;
    border-radius: 16px;
    color: #FFF;
    cursor: pointer;
    margin-bottom: var(--body-font-size);
    padding: 16px;
    transition: all .2s;
    width: 50%;
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
}

#contact button:hover {
    background-color: var(--brand-green-hover);
}

#contact .two-third-column header {
    margin-bottom: var(--body-font-size)
}

.key {
    font-size: 24px;
    font-weight: var(--header-font-weight);
    color: var(--brand-green);
    margin-top: var(--body-font-size);
}

.key i {
    margin-right: calc(var(--body-font-size)/2);
}

.value {
    font-weight: var(--body-font-weight);
    font-size: var(--body-font-size);
    margin-top: calc(var(--body-font-size)/2);
    color: #000;
}

#contact .phone-numbers .value:nth-last-child(1),
#contact .email-addresses .value:nth-last-child(1) {
    margin-top: 4px;
}

#contact a {
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--background-color);
    font-size: var(--body-font-size);
    margin-bottom: var(--body-font-size);
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid lightgray;
    font-weight: var(--body-font-weight);
}

th {
    background-color: #4CAF50;
    color: white;
}

@media (max-width: 1024px) {
    #contact .column-container {
        display: block;
    }

    #contact .one-third-column,
    #contact .two-third-column {
        width: 100%;
    }

    #contact .one-third-column {
        /* margin-top: var(--body-font-size); */
        text-align: center;
    }
}