#contact,
.building-address,
.phone-numbers,
.email-addresses {
    margin-bottom: 16px;
}

#hero h1 {
    font-size: 58px;
    margin-top: 0;
}

#location h5 {
    margin-bottom: 16px;
    text-align: center;
    font-weight: 500;
}

#providers {
    text-align: center;
}

#providers h1 {
    margin-bottom: 0;
}

#providers img {
    border: 6px solid var(--brand-blue);
    border-radius: 16px;
}

#providers p {
    color: gray;
    margin-top: 4px;
}

#welcome button {
    background: var(--brand-blue);
    border: 1px solid var(--brand-blue);
    border-radius: 12px;
    color: #FFF;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    margin: 16px 0 8px;
    padding: 16px;
    transition: all .2s;
    white-space: nowrap;
}

#welcome button:hover,
button[type=submit]:hover {
    transform: scale(1.1);
}

#welcome button:nth-child(1) {
    margin-right: 16px;
}

#welcome h1 {
    font-size: 48px;
}

#welcome h2 {
    font-size: 27px;
    text-align: center;
    text-transform: uppercase;
}

#welcome h2:nth-child(3) {
    margin-top: 8px;
}

#welcome,
#providers,
#location,
#contact {
    margin-top: 16px;
}

.center-container {
    display: flex;
    justify-content: center;
}

.center-page {
    margin: auto;
}

.column {
    float: left;
    text-align: center;
    width: 33%;
}

.contact-information {
    margin-top: -6px;
}

.google-map {
    margin-bottom: 16px;
    padding-bottom: 50%;
    position: relative;
}

.google-map iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/* TODO: Fix hero image to use height: 100vh */
.hero-image {
    background: url(../images/hero_banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
    height: 900px;
    position: relative;
}

@media screen and (min-height: 900px) {
    .hero-image {
        height: 100vh;
    }
}

.hero-text {
    color: var(--brand-green);
    left: 50%;
    margin-top: 40px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hero-text img {
    height: 150px;
    width: 150px;
}

.key {
    color: var(--brand-green);
    font-weight: 600;
    margin-right: 16px;
}

.margin-right {
    margin-right: 8px;
}

.provider {
    background: #FFF;
    padding: 10px;
}

.row {
    margin: 8px -16px 0;
}

.row,
.row>.column {
    padding: 8px;
}

.third {
    width: 33.33333%;
}

.third,
.twothird {
    float: left;
}

.twothird {
    width: 66.66666%;
}

button[type=submit] {
    background: var(--brand-blue);
    border: none;
    border-radius: 16px;
    color: #FFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
    margin-top: 16px;
    padding: 16px;
    transition: all .2s;
    width: 50%;
}

h1:nth-child(2n+1) {
    color: var(--brand-green);
    text-align: center;
}

hr {
    display: none;
}

input[type=text],
input[type=email],
textarea {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 16px;
    margin-top: 6px;
    padding: 12px;
    resize: vertical;
    width: 100%;
}

label,
input,
textarea {
    font-weight: 600;
}

textarea {
    height: 180px;
    margin-top: 6px !important;
}

@media screen and (max-width: 1024px) {
    .hero-text h1 {
        font-size: 50px;
    }

    .hero-text img {
        height: 150px;
        width: 150px;
    }

    .open-hours p {
        text-align: center;
    }

    .third {
        margin-bottom: 16px;
        text-align: center;
        width: 100%;
    }

    .twothird {
        width: 100%;
    }

    hr {
        display: block;
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 480px) {
    #welcome button {
        width: 100%;
    }

    #welcome button:nth-child(2) {
        margin-top: 4px;
    }

    .center-container {
        display: block;
        text-align: center;
    }

    .hero-text h1 {
        font-size: 45px;
    }

    .hero-text img {
        height: 148px;
        width: 148px;
    }
}

@media screen and (max-width: 400px) {
    .hero-text h1 {
        font-size: 34px;
    }

    .hero-text img {
        height: 130px;
        width: 130px;
    }
}

@media screen and (max-width: 320px) {
    .hero-text h1 {
        font-size: 30px;
    }

    .hero-text img {
        height: 100px;
        width: 100px;
    }
}

@media screen and (min-width: 400px) {
    #providers img {
        width: 250px !important;
    }
}

@media screen and (max-width: 1070px) {
    .column {
        width: 50%;
    }
}

@media screen and (max-width: 754px) {
    .column {
        width: 100%;
    }
}