@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #005580;
}

.navbar ul {
    list-style: none;
}

.navbar a {
    text-decoration: none;
}

.navbar button {
    background: none;
    border: none;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

.top-bar {
    background-color: rgb(39, 44, 51);
}

.top-bar__content {
    height: 30px;
    padding: 0 30px;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 20px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.35);
}

.icon {
    margin-right: 3px;
    color: rgba(255, 255, 255, 0.17);
}

.bottom-bar {
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.bottom-bar__content {
    min-height: 60px;
    padding: 0 16px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    vertical-align: middle;
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.logo__img {
    height: 50px;
}

.logo__text {
    font-size: 20px;
    color: #427F70;
    font-weight: 700;
}

.nav {
    /* Remove for instant dropdown */
    transition: all 0.3s ease-in-out;
}

.nav__list {
    display: flex;
    column-gap: 40px;
    color: #005580;
}

.nav__link {
    transition: all 0.2s;
    font-weight: 600;
    display: inline-block;
    position: relative;
}

.btn {
    color: white !important;
    background-color: #005580;
    padding: 8px 20px;
    border-radius: 1000px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s;
}

.btn:hover {
    background-color: lightgray;
}

.hamburger {
    cursor: pointer;
    display: none;
}

.bar {
    height: 2px;
    width: 27px;
    background-color: #427F70;
    margin: 5px 0;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}

.nav__item a,
.nav__item a:visited {
    color: #005580;
}

.nav__active {
    border-bottom: solid 8px #005580;
    margin-bottom: -18px;
    padding-bottom: 16px;
    font-weight: 600;
}

/* For JS */
.nav--open {
    left: 50% !important;
}

.hamburger--open .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.hamburger--open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger--open .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

.nav__link:after {
    display: block;
    content: '';
    border-bottom: solid 8px #005580;
    margin-bottom: -18px;
    padding-bottom: 16px;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.nav__link:hover:after {
    transform: scaleX(1);
}

.nav__link.fromLeft:after {
    transform-origin: 0% 50%;
}

/* MEDIA QUERIES */
@media (max-width: 1226px) {
    .nav {
        position: fixed;
        top: 90px;
        left: -100%;
        transform: translateX(-50%);
        background-color: white;
        width: 100%;
        padding: 10px 0 25px;
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    .nav__link {
        font-size: 15px;
    }

    .btn {
        font-size: 14px;
        padding: 7px 17px;
    }

    .hamburger {
        display: block;
    }
}

@media (max-width: 360px) {
    .top-bar__content {
        font-size: 10px;
    }
}

a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
}

.navbar br {
    display: none;
}

@media (max-width: 347px) {
    .navbar br {
        display: inline;
    }
}
