header {
    font-size: 40px;
    font-weight: var(--header-font-weight);
    text-transform: uppercase;
    text-align: center;
    padding: 48px 32px;
    background-color: var(--brand-green);
    color: #fff;
}

body {
    background-color: var(--background-color);
}

.provider-name {
    font-weight: var(--header-font-weight);
    font-size: 24px;
    margin-top: var(--body-font-size);
}

.provider-specialty {
    font-size: 16px;
    font-weight: var(--header-font-weight);
}

#providers .global-padding {
    padding: 0 1in;
}

#providers .provider-biography p {
    padding-right: 32px;
    line-height: 1.5;
    margin: var(--body-font-size) 0;
}

#providers img {
    width: 275px;
    height: 275px;
    border-radius: 16px;
    border: 6px solid var(--brand-green);
}

#providers hr {
    width: 95%;
    margin: 0 auto;
    border: 1px solid var(--brand-blue);
}

#alexandra_moore {
    scroll-margin-top: 5.5rem;
}

#jill_abernathy {
    scroll-margin-top: 5.5rem;
}

#kionglee_jung {
    scroll-margin-top: 5.5rem;
}

@media (max-width: 1024px) {}

@media (max-width: 480px) {}

@media (max-width: 400px) {}

@media (max-width: 320px) {}

@media (max-width: 1024px) {
    #providers .global-padding {
        padding: 0 32px;
    }

    #providers .column-container {
        display: block;
    }

    #providers img {
        width: 50%;
        height: auto;
    }

    #providers .one-third-column,
    #providers .two-third-column {
        width: 100%;
    }

    #providers .provider-biography p {
        padding-right: 0px;
    }

    #providers hr {
        margin-top: var(--body-font-size);
    }

    footer {
        margin-top: var(--body-font-size);
    }
}

@media screen and (max-width: 480px) {
    #providers img {
        width: 66%;
        height: auto;
    }
}