ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
}

ul.breadcrumb li {
    display: inline;
    font-size: 16px;
    font-weight: 600;
}

ul.breadcrumb li+li:before {
    padding: 4px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #005580;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    text-decoration: underline;
}

.services-container a,
.services-container a:visited
{
    color: rgb(0, 102, 204);
}

.services h1 {
    margin: 0px 0;
    font-size: 36px;
    color: #427F70;
    margin-bottom: 16px;
    margin-top: 8px;
}

@media (max-width: 366px) {
    .services h1 {
        font-size: 30px;
    }
}

.services-container:after,
.services-container:before,
.services-row:after,
.services-row:before,
.services-row-padding:after,
.services-row-padding:before {
    content: "";
    display: table;
    clear: both
}

.services-third,
.services-twothird {
    float: left;

}

.services-content {
    margin-left: auto;
    margin-right: auto
}

@media (max-width:992px) {
    .services-main {
        margin-left: 0;
        margin-right: 0
    }
}

.services-row-padding {
    padding: 0 16px
}

.services-container {
    padding: 0.01em 16px;
}

.services-card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.services-margin-top {
    margin-top: 104px
}

.services-margin-bottom {
    margin-bottom: 16px
}

.services-padding-16 {
    padding-top: 16px;
    padding-bottom: 16px
}

.services p {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
}

.services-white {
    color: #000;
    background-color: #fff
}

.services-third {
    width: 33.33333%
}

.services-twothird {
    width: 66.66666%
}

.center-image {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
}

@media (max-width: 1024px) {
    .services-third {
        width: 100%
    }

    .services-twothird {
        width: 100%
    }

    .center-image {
        margin-top: 16px;
    }
}