#resources {
    background-color: var(--background-color);
}

header.main-header {
    text-transform: uppercase;
    text-align: center;
    padding: 48px 32px;
    background-color: var(--brand-green);
    color: #fff;
    margin-bottom: var(--body-font-size);
}

header.main-header h1 {
    font-size: 40px;
}

header.main-header h2 {
    font-size: var(--body-font-size);
    font-style: italic;
    margin-top: calc(var(--body-font-size)/4);
}

header.sub-header {
    text-transform: uppercase;
    text-align: center;
    padding: 12px 32px;
    background-color: var(--brand-green);
    color: #fff;
    font-size: 28px;
    font-weight: var(--header-font-weight);
}

#crisis-lines,
#psychiatric-urgent-cares,
#psychiatric-hospitals {
    text-align: center;
    line-height: 1.5;
}

#crisis-lines p:nth-child(1),
#psychiatric-urgent-cares p:nth-child(1),
#psychiatric-hospitals p:nth-child(2) {
    margin-top: var(--body-font-size);
}

#crisis-lines p:nth-last-child(1),
#psychiatric-urgent-cares p:nth-last-child(1) {
    margin-bottom: var(--body-font-size);
}

#psychiatric-hospitals p:nth-last-child(1) {
    padding-bottom: var(--body-font-size);
}