.crisis-lines h2,
.psychiatric-urgent-cares h2 {
    margin: 16px 0 8px 0;
}

.emergency-number {
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 16px;
    text-align: center;
}

.emergency-number p {
    font-style: italic;
}

.psychiatric-hospitals h2 {
    margin-bottom: 8px;
}

.resources h1 {
    color: #427F70;
    font-size: 36px;
    margin: 16px 0 12px 0;
    text-align: center;
}

.resources h2 {
    color: #427F70;
    font-size: 32px;
}

.resources hr {
    border: 0;
    border-top: 1px solid gray;
    margin: 16px 0;
    opacity: .25;
}

.resources-card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.resources-container {
    padding: .01em 16px 8px;
}

.resources-container:after,
.resources-container:before,
.resources-row-padding:after,
.resources-row-padding:before {
    clear: both;
    content: "";
    display: table;
}

.resources-content {
    margin: 0 auto;
}

.resources-margin-bottom {
    margin-bottom: 16px;
}

.resources-margin-top {
    margin-top: 104px;
}

.resources-phone-numbers p {
    font-weight: 500;
    line-height: 2;
}

.resources-row-padding {
    padding: 0 16px;
}

.resources-white {
    background: #fff;
    color: #000;
}