main {
    background-color: var(--background-color-darker);
}

header.main-header {
    text-transform: uppercase;
    text-align: center;
    padding: 48px 32px;
    background-color: var(--brand-green);
    color: #fff;
    margin-bottom: var(--body-font-size);
}

header.main-header h1 {
    font-size: 40px;
}

#schedule-appointment .other-half-column {
    width: 50%;
    margin-left: var(--body-font-size);
}

#schedule-appointment .one-half-column,
#schedule-appointment .other-half-column {
    background-color: var(--background-color);
}

header.sub-header {
    text-transform: uppercase;
    text-align: center;
    padding: 24px 32px;
    background-color: var(--brand-green);
    color: #fff;
    font-size: 28px;
    font-weight: var(--header-font-weight);
}

.schedule-appointment-body {
    padding: 0 32px;
    line-height: 1.5;
    margin-top: var(--body-font-size);
}

.schedule-appointment-body button {
    margin: var(--body-font-size) 0;
}

.schedule-appointment-body button {
    border-radius: 16px;
    padding: 16px;
    border: transparent;
    background-color: var(--brand-green);
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: var(--body-font-size);
    font-weight: var(--header-font-weight);
    transition: all 0.2s;
}

.schedule-appointment-body button:hover {
    background-color: var(--brand-green-hover);
}

@media (max-width: 1024px) {
    #schedule-appointment .column-container {
        display: block;
    }

    #schedule-appointment .one-half-column,
    #schedule-appointment .other-half-column {
        width: 100%;
    }

    #schedule-appointment .other-half-column {
        margin: var(--body-font-size) 0 0 0;
    }
}

#appointment-information {
    margin-top: var(--body-font-size);
}

#appointment-information header {
    margin-bottom: 0;
}

#appointment-information .whole-column {
    background-color: var(--background-color);
    line-height: 1.5;
}

.appointment-header {
    font-weight: var(--header-font-weight);
    font-size: 24px;
    text-transform: uppercase;
    margin: var(--body-font-size) 0;
}

#appointment-information p:nth-last-child(1) {
    margin-bottom: var(--body-font-size);
}