header {
    font-size: 40px;
    font-weight: var(--header-font-weight);
    text-transform: uppercase;
    text-align: center;
    padding: 48px 32px;
    background-color: var(--brand-green);
    color: #fff;
}

body {
    background-color: var(--background-color);
}

main p {
    line-height: 1.5;
    margin: var(--body-font-size) 0;
}

main img {
    width: 66%;
    height: auto;
    margin-top: var(--body-font-size);
}

@media screen and (max-width: 480px) {
    main img {
        width: 100%;
    }
}

#genetic-testing p:nth-child(2) {
    margin: 0;
}

#genetic-testing p:nth-last-child(2) {
    margin-bottom: 0;
}

#genetic-testing ul li {
    line-height: 1.5;
}

#genetic-testing img {
    margin: var(--body-font-size) 0;
}

#adhd-testing .images-side-by-side-container {
    text-align: center;
}

#adhd-testing .images-side-by-side-container::after {
    clear: both;
    content: "";
    display: table;
}

#adhd-testing .image-side-by-side {
    float: left;
    width: 50%;
}

#adhd-testing p:nth-child(2) {
    margin-top: 0;
}

@media (max-width: 1024px) {
    #adhd-testing .image-side-by-side {
        width: 100%;
    }

    #adhd-testing .image-side-by-side img:nth-last-child(1) {
        margin-top: 0;
    }

    #adhd-testing p:nth-last-child(2) {
        margin-bottom: var(--body-font-size) !important;
    }
}

#adhd-testing p:nth-last-child(2) {
    margin-bottom: 0;
}

#adhd-testing img {
    margin-bottom: var(--body-font-size);
}

#psychotherapy p i {
    font-size: 12px;
}

#alternative-treatments ul li {
    line-height: 1.5;
}

#alternative-treatments p:nth-child(3), #alternative-treatments p:nth-child(5) {
    margin-bottom: 0;
}

#alternative-treatments {
    margin-bottom: var(--body-font-size);
}