main {
    margin-top: 114px;
}

.grid {
    margin: 8px -16px;
}

.grid,
.grid>.service {
    padding: 8px;
}

.service {
    float: left;
    width: 25%;
    text-align: center;
}

.grid:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    background-color: #f1f1f1;
    padding: 12px;
}

#services h1 {
    margin-bottom: 8px;
}

#services img {
    width: 100%;
}

#services button {
    background: var(--brand-green);
    border-radius: 1000px;
    border: none;
    color: #FFF;
    cursor: pointer;
    font-size: 16px;
    margin-top: 8px;
    padding: 8px 20px;
    text-transform: uppercase;
    transition: all .2s;
}

#services button:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 1367px) {
    .service {
        width: 33%;
    }
}

@media screen and (max-width: 1125px) {
    .service {
        width: 50%;
    }
}

@media screen and (max-width: 548px) {
    .service {
        width: 100%;
    }
}