main {
    margin: 98px 0 6px;
}

h1 {
    text-align: center;
    color: var(--brand-green);
    margin-bottom: 0 !important;
}

h3 {
    text-align: center;
}

.row {
    margin: 8px -16px;
}

.row-padding {
    padding: 0 6px !important;
}

.row,
.row>.column {
    padding: 8px;
}

.column {
    float: left;
    width: 25%;
}

/* Content */
.content {
    padding: 10px;
}

.tile-color {
    background: #f1f1f1;
}

@media screen and (max-width: 1393px) {
    .column {
        width: 33%;
    }
}

@media screen and (max-width: 1079px) {
    .column {
        width: 50%;
    }
}

@media screen and (max-width: 745px) {
    .column {
        width: 100%;
    }
}