#services button {
    background: var(--brand-green);
    border-color: var(--brand-green);
    border-radius: 1000px;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    margin-top: 12px;
    padding: 8px 20px;
    transition: all .2s;
}

#services button:hover {
    transform: scale(1.1);
}

#services img {
    width: 100%;
}

.column {
    float: left;
    width: 25%;
}

.content {
    padding: 10px;
}

.row {
    margin: 8px -16px;
}

.row,
.row>.column {
    padding: 8px;
}

.row-padding {
    padding: 0 6px !important;
}

.tile-color {
    background: #f1f1f1;
}

h1 {
    color: var(--brand-green);
    font-size: 36px !important;
    margin-bottom: 0 !important;
    text-align: center;
}

h3 {
    text-align: center;
}

main {
    margin: 98px 0 6px;
}

@media screen and (max-width: 1393px) {
    .column {
        width: 33%;
    }
}

@media screen and (max-width: 1079px) {
    .column {
        width: 50%;
    }
}

@media screen and (max-width: 745px) {
    .column {
        width: 100%;
    }
}