header {
    font-size: 40px;
    font-weight: var(--header-font-weight);
    text-transform: uppercase;
    text-align: center;
    padding: 48px 32px;
    background-color: var(--brand-green);
    color: #fff;
}

.whole-column {
    background-color: var(--background-color);
}

#thank-you p {
    line-height: 1.5;
    margin-top: var(--body-font-size);
    text-align: center;
}

#thank-you p:nth-child(5) {
    margin-top: calc(var(--body-font-size)/4);
}

#thank-you button {
    border-radius: 16px;
    padding: 16px;
    border: transparent;
    background-color: var(--brand-green);
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    margin: var(--body-font-size) 0;
    font-weight: var(--header-font-weight);
    transition: all 0.2s;
}

#thank-you button:hover {
    background-color: var(--brand-green-hover);
}

#thank-you a {
    text-decoration: none;
}

#thank-you a:hover {
    text-decoration: underline;
}